*~
*.o
autom4te.cache
debian/tlssh*
debian/files
*.pem
*.crl
doc/doxygen
doc/src
Makefile
build-stamp
config.guess
config.log
stamp-h1
src/.deps
src/tlssh
src/tlsshd
config.h
config.status
*.gcov
*.gcda
*.gcno
