[submodule "monotonic_clock"]
	path = monotonic_clock
	url = http://github.com/ThomasHabets/monotonic_clock.git
[submodule "libopenpty"]
	path = libopenpty
	url = http://github.com/ThomasHabets/libopenpty.git
